.home {
  position: relative;
  background: url('../../assets/bgIMG.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  display: flex;

  // disable the default padding styles
  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  // flex: 1;
  width: 100%;
  height: 100vh;
  flex-direction: row;

  padding: 6rem 2rem 0rem;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    height: auto;
  }

  @media screen and (max-width: 450px) {
    padding: 1rem;
  }
}

.app__header_info {
  // flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 15%;

  margin: 0 2rem;

  @media screen and (max-width: 1000px) {
    width: 100%;
    margin-right: 0rem;
  }
  @media screen and (max-width: 500px) {
    position: absolute;
  }
}

.app__header_badge {
  // width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1000px) {
    justify-content: flex-start;
    align-items: flex-start;
    width: 94%;
  }
}

.badge__cmp,
.tag__cmp {
  padding: 1rem 2rem;
  background: var(--white-color);
  border-radius: 15px;
  flex-direction: row;
  width: auto;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.tag__cmp {
  flex-direction: column;
  margin-top: 3rem;
  width: 140%;

  p {
    width: 100%;
    // text-transform: uppercase;
    text-align: justify;
    @media screen and (max-width: 450px) {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 1000px) {
    // position: absolute;
    width: 88%;
    top: 170px;
  }
  @media screen and (max-width: 500px) {
    margin-top: 2rem;
    position: absolute;
    bottom: 90px;
    top: unset !important;
    width: 93% !important;
    z-index: 2;
  }
  @media screen and (max-width: 450px) {
    bottom: 60px !important;
  }
}

.app__header_circles {
  // flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;
  z-index: 5;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background: var(--white-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    img {
      width: 60%;
      height: 60%;
    }
  }

  // circles with different height & width

  div:nth-child(1) {
    width: 100px;
    height: 100px;
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 150px;
    height: 150px;
  }

  div:nth-child(3) {
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(2) {
      width: 400px;
      height: 400px;
    }

    div:nth-child(3) {
      width: 170px;
      height: 170px;
    }

    div:nth-child(1) {
      width: 200px;
      height: 200px;
    }
  }

  @media screen and (max-width: 1000px) {
    // width: 100%;
    width: auto;
    // flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    height: auto !important;
    position: absolute;
    // bottom: 30px;
    right: 0;

    bottom: 80px;

    div {
      margin: 1rem;
    }
  }

  @media screen and (max-width: 700px) {
    scale: 0.7;
    bottom: 50px;
    right: -50px;
  }

  @media screen and (max-width: 500px) {
    top: 0px;
    right: -40px;
    height: 500px !important;
  }
  @media screen and (max-width: 450px) {
    scale: 0.5;
    right: -70px;
  }
}

.app__header_img {
  // flex: 1;
  height: 100%;
  // width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    object-fit: contain;
    z-index: 1;
    width: 100%;
    min-width: 450px;
    max-height: 650px;

    @media screen and (max-width: 650px) {
      min-width: 350px !important;
    }
  }

  @media screen and (max-width: 1000px) {
    margin-top: 2rem;
  }
  @media screen and (max-width: 650px) {
    margin: 0;
    margin-top: 5rem;
  }
  @media screen and (max-width: 500px) {
    // color: transparent;
    top: -30px;
  }
  @media screen and (max-width: 480px) {
    top: -60px !important;
  }
}

.overlay__circle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  //   height: 90%;
  height: 80%;
}
